<div class="container">
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td><img src="/product_images/{{this.product._id}}.jpg" style="width: 70px; height:auto" alt="Product Image"></td>
                <td>{{this.product.name}}</td>
                <td>{{this.product.price}}</td>
                <td>
                    <button class="btn btn-primary mr-3"
                        onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', -1)"
                        style="font-weight: bolder;">-</button>
                    <span id="{{this.product._id}}" style="font-weight: bold;">{{this.quantity}}</span>
                    <button class="btn btn-primary ml-3"
                        onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', 1)"
                        style="font-weight: bolder;">+</button>
                </td>
                <td>
                    <button class="btn btn-danger"
                        onclick="removeProduct('{{this._id}}', '{{this.product._id}}')">Remove</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>

<script>
    function changeQuantity(cartID, proID, count) {
        let quantity = parseInt(document.getElementById(proID).innerHTML)
        count = parseInt(count)

        $.ajax({
            url: '/change_product_quantity',
            data: {
                cart: cartID,
                product: proID,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert('Product removed from cart')
                    location.reload()
                } else {
                    document.getElementById(proID).innerHTML = quantity + count
                }
            }
        })
    }

    function removeProduct(cartID, proID) {
        $.ajax({
            url: '/remove_cart_product',
            data: {
                cart: cartID,
                product: proID
            },
            method: 'post',
            success: (response) => {
                alert('Product removed from cart')
                location.reload()
            }
        })
    }
</script>